.card {
    grid-area: card;
    grid-column: span 1;
    @include border-card;
    box-sizing: border-box;
    padding: 24px;
}

.card__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
}

.card__title {
    @include title-text (bold);
}

.card__menu {
    width: 26px;
    height: 5px;
    background: url(../../images/icons/ellipsis.png);
}

.card__inf {
    display: flex;
    justify-content: space-between;
    @include title-text (500);
}

.card__value-change {
    color: #979797;
}

