.diogramm {
    grid-area: diogramm;
    @include border-card;
    padding: 22px 10px;
}

.diogramm__title {
    @include title-text;
    padding-left: 9px;
    margin-bottom: 26px;
}

.diogramm__body {
    display: flex;
    justify-content: space-between;
}

.diogramm__text-Desktop {
    @include inf-text;
    padding-top: 13px;
    margin-bottom: 10px;
}

.diogramm__text-Desktop::before {
    vertical-align: middle;
    margin-right: 10px;
    content: url(../../images/icons/Rectangle-pink.png);
}

.diogramm__text-Mobile-views {
    @include inf-text;
}

.diogramm__text-Mobile-views::before {
    vertical-align: middle;
    margin-right: 10px;
    content: url(../../images/icons/rectangle-blu.png);
}