.gistogram {
    overflow-x: auto;
    grid-area: gistogram;
    padding: 23px 0px 0px 9px;
    box-sizing: border-box;
    @include border-card;
}

.gistogram__head {
    display: flex;
    justify-content: space-between;
    width: 659px;
    padding-left: 15px;
    margin-bottom: 21px;
}

.gistogram__head-title {
   @include title-text;
}

.gistogram__head-inf {
    display: flex;
}

.gistogram__head-women {
    @include inf-text;
    margin-right: 15px;
}

.gistogram__head-women::before {
    vertical-align: middle;
    margin-right: 10px;
    content: url(../../images/icons/Rectangle-pink.png);
}

.gistogram__head-men {
    @include inf-text;
}

.gistogram__head-men::before {
    vertical-align: middle;
    margin-right: 10px;
    content: url(../../images/icons/rectangle-blu.png);
}