.graphic {
    overflow-x: auto;
    grid-area: graphic;
    padding: 25px;
    @include border-card;
}

.graphic__head {
    display: flex;
    justify-content: space-between;
    min-width: 674px;
    margin-bottom: 24px;
}

.graphic__head-title {
    @include title-text;
}

.graphic__head-inf {
    display: flex;
    align-items: center;
    padding-right: 38px;
}

.graphic__head-date {
    @include inf-text(500);
    margin-right: 10px;
}

.date-menu {
    margin-right: 42px;
    height: 5px;
    width: 10px;
    background: url(../../images/icons/bracket.png);
}

.graphic__head-total {
    @include inf-text(500);
    margin-right: 10px;
}

.total-menu {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(../../images/icons/total.png);
}

.graphic__head-follower {
    @include inf-text;
}

.follower-menu {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(../../images/icons/follower.png);
}

.graphic-img {
    width: 674px;
}