.header {
    grid-area: header;
    background-color: #212427;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 45px 50px 38px 96px;
    border-radius: 14px 14px 0px 0px;
}

.title-inf {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.form-container {
    display: flex;
    align-items: center;
}

.header__title { 
    @include header-text;
    margin-right: 45px;
}

.header__form-input {
    height: 32px;
    width: 163px;
    background: transparent;
    border: 1px solid #4C4C4C;
    border-radius: 8px;
}

.header__form-input::placeholder {
    padding-left: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    background: url(../../images/icons/magnifier.png) 18px no-repeat;
}

.header__bell {
    margin-left: 20px;
    height: 22px;
    width: 22px;
    background: url(../../images/icons/bell.png);
}

.header__account {
    display: flex;
    align-items: center;
}

.account__name {
    @include title-text(600);
    margin-right: 10px;
}

.account__menu {
    width: 13px;
    height: 6px;
    margin-left: 10px;
    background: url(../../images/icons/bracket.png) center no-repeat;
}