.nav {
    position: absolute;
    left: 0;
    top: 0;
    grid-area: nav;
    width: 98px;
    height: 100%;
    max-height: 880px;
    background: #282C31;
    border: 1px solid #4D4D4D;
    display: grid;
    grid-template-areas: 
        "nav__title"
        "home"
        "news"
        "friends"
        "massage"
        "media"
        "statistics"
        "settings"
        "nav__switch"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(7, 65px) 1fr;
    box-sizing: border-box;
    padding: 53px 0px 48px;
    margin: 0;
}

.nav-logo {
    width: 42px;
    height: 24px;
    margin: 0 auto;
    background: url(../../images/icons/logo.svg) no-repeat;
}

.nav__switch {
    grid-area: nav__switch;
    background: url(../../images/icons/switch.svg) center bottom no-repeat;
}

.home-link {
    grid-area: home;
    background: url(../../images/icons/home.svg) center no-repeat;
}

.home-link:hover {
    grid-area: home;
    background: url(../../images/icons/home.svg) center no-repeat;
}

.news-link {
    grid-area: news;
    background: url(../../images/icons/news.svg) center no-repeat;
}
.friends-link {
    grid-area: friends;
    background: url(../../images/icons/frends.svg) center no-repeat;
}
.massage-link {
    grid-area: massage;
    background: url(../../images/icons/message.svg) center no-repeat;
}
.media-link {
    grid-area: media;
    background: url(../../images/icons/media.svg) center no-repeat;
}
.statistics-link {
    grid-area: statistics;
    background: url(../../images/icons/home.svg) center no-repeat;
}

.settings-link {
    grid-area: settings;
    background: url(../../images/icons/settings.svg) center no-repeat;
}

.nav-btn {
    position: absolute;
    z-index: 1;
    display: none;
    top: 58px;
    left: 25px;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

.nav-btn__burger {
    position: absolute;
    top: 13px;
    height: 2px;
    width: 30px;
    background-color: #CACACA;
}

.nav-btn__burger:before {
    content: '';
    position: absolute;
    top: -10px;
    height: 2px;
    width: 30px;
    background-color: #CACACA;
}

.nav-btn__burger:after {
    content: '';
    position: absolute;
    top: 10px;
    height: 2px;
    width: 30px;
    background-color: #CACACA;
}