.wrap {
    position: relative;
    max-width: 1280px;
    max-height: 880px;
    margin: 0 auto;
    border-radius: 14px;
    font-family: 'Open Sans', sans-serif;
    background: #212427;
}

.main {
    max-width: 1180px;
    padding: 0px 50px 50px 146px;
    display: grid;
    grid-template-areas:
        "card card card"
        "graphic graphic diogramm"
        "gistogram gistogram geo"
    ;
    grid-template-rows: 148px repeat(2, 242px);
    grid-template-columns: repeat(3, 1fr);
    min-height: 792px;
    grid-gap: 32px;
}

