
@media (max-width: 992px) {
    .main {
        padding: 0px 50px 50px 50px;
         grid-template-areas:
            "card "
            "card "
            "card "
            "graphic"
            "diogramm" 
            "geo"
            "gistogram" 
            "gistogram"
        ;
        grid-template-rows: repeat(3,148px) repeat(3, 242px);
        grid-template-columns: 1fr;
    }    

    .wrap {
        max-height: none;
        border-radius: 0;
    }

    .card {
        grid-row: span 1;
        grid-column: span 1;
    }

    .nav {
        display: none;
    }

    .nav-btn {
        display: block;
    }
}

@media (max-width:768px) {
    .header {
        flex-flow: column-reverse;
        height: auto;
        padding-left: 0;
        padding: 45px 50px 38px 50px;
    }
    
    .title-inf {
        flex-flow: column;
        align-items: center;
        padding-left: 0;
        width: 90%;
    }
    
    .header__title { 
        margin: 25px 0;
    }
    
    .header__form {
        width: 100%;
    }

    .header__form-input {
        width: 100%;
    }

    .form-container {
        margin-bottom: 25px;
        width: 100%;
    }
    
    .header__account {
        display: flex;
        align-items: center;
        padding-right: 40px;
        padding-top: px;
    }
    
    .nav-btn {
        top: 20px;
    }

    .main {
        padding: 0px 20px 50px 20px;
    }
}
